# Игнорируем виртуальное окружение
venv/
env/

# Игнорируем скрытые файлы и директории
.*
!.dockerignore
!.gitignore

# Игнорируем файлы, связанные с версионным контролем
.git/
.gitignore

# Игнорируем кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py.class

# Игнорируем статические файлы и медиа (если они генерируются в runtime)
staticfiles/
media/

# Игнорируем логи
*.log

# Игнорируем локальные настройки (если они есть)
local_settings.py

# Игнорируем директорию с миграциями (если они создаются в runtime)
migrations/

# Игнорируем директорию с тестами (если они не нужны в образе)
tests/
test/

# Игнорируем временные файлы
tmp/
temp/

# Игнорируем документацию
docs/